# code was executed in colab

In [7]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('practice').getOrCreate()
spark

#### below image is for local

![](imgs/sparkui.png)

In [10]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType, DateType
from datetime import datetime

In [11]:
employee_schema = StructType([
    StructField("emp_id", IntegerType(), nullable=False),
    StructField("name", StringType(), nullable=False),
    StructField("department", StringType(), nullable=True),
    StructField("salary", FloatType(), nullable=True),
    StructField("join_date", DateType(), nullable=True)
])

In [12]:
employee_data = [
    (1, "John Doe", "Engineering", 75000.0, datetime(2020, 6, 1)),
    (2, "Jane Smith", "HR", 55000.0, datetime(2018, 9, 15)),
    (3, "Alice Johnson", "Engineering", 80000.0, datetime(2021, 1, 12)),
    (4, "Bob Brown", "Marketing", 62000.0, datetime(2019, 3, 20)),
    (5, "Charlie Black", "Engineering", 72000.0, datetime(2022, 5, 5))
]

In [16]:
df = spark.createDataFrame(employee_data, schema=employee_schema)

# Show DataFrame (ACTION)
df.show()

+------+-------------+-----------+-------+----------+
|emp_id|         name| department| salary| join_date|
+------+-------------+-----------+-------+----------+
|     1|     John Doe|Engineering|75000.0|2020-06-01|
|     2|   Jane Smith|         HR|55000.0|2018-09-15|
|     3|Alice Johnson|Engineering|80000.0|2021-01-12|
|     4|    Bob Brown|  Marketing|62000.0|2019-03-20|
|     5|Charlie Black|Engineering|72000.0|2022-05-05|
+------+-------------+-----------+-------+----------+

In [15]:
df.rdd.getNumPartitions()

2

In [14]:
df.printSchema()

root
 |-- emp_id: integer (nullable = false)
 |-- name: string (nullable = false)
 |-- department: string (nullable = true)
 |-- salary: float (nullable = true)
 |-- join_date: date (nullable = true)

In [17]:
emp_final=df.where("salary>70000")

In [18]:
emp_final.show()

+------+-------------+-----------+-------+----------+
|emp_id|         name| department| salary| join_date|
+------+-------------+-----------+-------+----------+
|     1|     John Doe|Engineering|75000.0|2020-06-01|
|     3|Alice Johnson|Engineering|80000.0|2021-01-12|
|     5|Charlie Black|Engineering|72000.0|2022-05-05|
+------+-------------+-----------+-------+----------+

In [19]:
emp_final.rdd.getNumPartitions()

2

In [20]:
dd=df.where("salary>75000")

In [21]:
dd.rdd.getNumPartitions()

2

In [22]:
dd.write.format("csv").save("emp.csv")